body{
	background-image: url("wallpaper0.jpg");
}

p{
	text-align: center;
}

.center{
	margin: auto;
	width: 50%;
	color: white;
	font-family: "Helvetica";
}

.biggest{ 
	font-size: 300%;
	text-align: center;
	font-weight: bold;
	color: white;
	font-family: "Helvetica";
}
.bigger{ 
	font-size: 130%;
	text-align: center;
	font-weight: bold;
	color: white;
	font-family: "Helvetica";
}



